#footer{
    height: 12%;
    width: 100%;
    text-align: left;
    font-size: 0.8em;
    clear:both;
    display: flex;  
    flex-wrap: wrap;
	align-self: flex-end;
	background:black;
    position: relative;
    bottom: 0;
}

#footer li{
    margin: 10px 20px;
    font-weight: bold;
    font-size: 16px;
}

#footer a{
    text-decoration: none;
}

#footer_links_content{
    font-weight:900;
    color: black;
    text-align: center;
    width: 15%;
    background:#FF7F27;
    line-height: 10px;
    height:200px;
}

#footer_voor_midden_content{
    width: 15%;
    height:200px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FF7F27;
    background:black;
}

.linkylinky {
    font-style:normal;
    font-variant:normal;
    font-weight:900;
    font-size:14px;
    line-height: 2;
    margin: 5px 0px 0px 20px;
    color: white;
    text-decoration: none;
}

#footer_midden_content{
    width: 25%;
    height:200px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FF7F27;
    background:black;
}

#footer_naast_midden_content {
    width: 25%;
    height:200px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #FF7F27;
    background:black;
}

#footer_rechts_content{
    width: 14%;
    height:200px;
    background:black;
}

/* Responsive */
@media only screen and (max-width: 1200px){
    #footer_links_content{
        font-weight:900;
        color: black;
        text-align: center;
        width: 100%;
        background:#FF7F27;
        line-height: 10px;
        height:100px;
    }
    #footer_voor_midden_content{
        width: 25%;
    }
    
    #footer_midden_content{
        width: 25%;
    }
    
    #footer_naast_midden_content {
        width: 25%;
    }
    #footer_rechts_content{
        width: 20%;
        height:200px;
        background:black;
    }
}
  