/* CSS - screen.css */

#home_links {
float:left;
background:c4c4c4;
margin:10px 10px 10px 10px;
width: 20%;
height: 300px;
    padding: 35px 15px 0px 10px;    
    border: 0px solid #d5d5d5;
}


#home_rechts {
float:left;
background:c4c4c4;
margin:10px 10px 10px 10px;
width: 60%;
height:450px;
    padding: 10px;    
    border: 0px solid #d5d5d5;
}

p{
   font-family: 'Roboto', sans-serif;
}


 

