.card {
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 250px;
    width: 700px;
    background:white;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 10px 10px 30px;
  }

  .projectContainer{
   width: 100%;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 grey; 
  }
  .cardContainer {
    font-family: 'Roboto', sans-serif; 
    padding-left: 15px;
  }

h3{
    color:#FF7F27; 
}

.cardText{
    padding: 15px 0px 10px 0px;
}
.leesmeer{
    color:#FF7F27; 
    font-weight: bold;
}
.card a{
    text-decoration: none;
    font-size: 14px;
}

/* Lees meer projecten */
.mainProjectLinkDiv{
  width: 800px;
}

.mainLeesMeerDiv a{
    text-decoration: none;
    font-weight: 600;
}

.mainLeesMeerDiv{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.projectTitles{
  font-weight: bold;
  color: #FF7F27;
  margin: 30px 0px 25px 30px;
}
.ResultaatDoelen{
  margin: 15px 0px 10px 50px;
}

.ResultaatDoelen li{
  margin: 0px 0px 25px 0px;
  list-style-type: square;
}

.samenMet{
  margin: 15px 0px 10px 30px;
}

.samenMet li{
  margin: 15px 0px 0px 0px;
}
.samenMet li{
  margin: 15px 0px 0px 0px;
}
.samenMet :last-child{
  margin: 15px 0px 60px 0px;
}

.ProjectenLinksNaar{
  margin: 120px 0px 0px 20px;
}

.ProjectenLinksNaar li{
  list-style-type: square;
  margin: 20px 0px 10px 50px;
}

/* Responsive */

@media only screen and (max-width: 1200px){

/* Lees meer paginas */

  .mainLeesMeerDiv{
    display: flex;
    flex-direction: column;
  }
  .ProjectenLinksNaar{
    margin: 120px 0px 0px 20px;
  }
  .ProjectenLinksNaar{
    margin: 0px 0px 0px 0px;
  }
}









