#header  {
    float:left;
    background:white;
    margin:0 0 0 0;
    width: 100%;
    height: 480px;
}
.mainPageContent{
    display: flex;
    justify-content: flex-end;
    min-height: 100%;
}

#inner-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background:white;
    width: 85%;
    height: 100%;
}

#hoofd_content {
    margin-top: 50px;
    height: 1%;
    width: 100%;
}

#kleine-header{
    background-size: contain;
}

.homebackground{
    background: url("../images/indexbanner2.png") 0 no-repeat;
    height: 150px;
}
.projectenbackground{
    background: url("../images/projectenbanner.png") 0 no-repeat;
    height: 150px;
}
.projectenbackground{
    background: url("../images/contactbanner.png") 0 no-repeat;
    height: 150px;
}
.missiebackground{
    background: url("../images/missieenvisiebanner.png") 0 no-repeat;
    height: 150px;
}
.verhaalbackground{
    background: url("../images/onsverhaalbanner.png") 0 no-repeat;
    height: 150px;
}
.contactbackground{
    background: url("../images/contactbanner.png") 0 no-repeat;
    height: 150px;
}

#home-title{ /*Startprojecten title in banner op elke pagina*/
    font-family: 'Play', sans-serif;
    font-size: 60px;
    color:#FF7F27;
    padding: 3% 0% 0% 18%;
    text-decoration: underline;
}

/* contact */
.contactPage{
    background:white;
    margin: 10px 0px 50px 30px;
}

.contactPage a {
    text-decoration: none;
    font-weight: 500;
}

.KaartenInfo{
    display: flex;
    flex-direction: row;
    width: 700px;
}

.VactatureenSamenwerking{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.VactatureenSamenwerking li:first-child{
        margin-bottom: 8px;
}

.infoContainer{
    margin: 0px 0px 0px 15px;
}

.infoContainer li{
    margin: 4px 0px;
}

.infoContainer li :last-child{
    margin: 12px 0px;
    line-height: 5px;
}
.infoContainer a{
    text-decoration: none;
}

.infoContainer :last-child{
    margin-bottom: 8px;
}

.samenwerkingen{
    height: 210px;
    width: 600px;
    line-height: 20px;
    margin: 10px 30px 5px 30px;
}

.samenwerkingen li{
    margin: 0px 30px 0px 0px;
}

.vrijwilligers{
    height: 250px;
    width: 670px;
    line-height: 20px;
    margin: 10px 0px 50px 30px;
}

.vrijwilligers li{
    margin:4px 0px;
}

.vrijwilligers a{
    text-decoration: none;
    font-weight: 600;
}

/*Ons verhaal*/

.onsVerhaalDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.onsVerhaalText{
    width: 55%;   
    margin: 0px 0px 30px 40px;
}
.onsVerhaalText li{
    list-style-type: square;
    margin-top: 25px;
}

.onsVerhaalImage{
    margin: 190px 0px 10px 40px;
}

.startprojectenText{
    color: #FF7F27;
}

/* Missie en Visie */

.topul{
    margin: 15px 0px 10px 30px;
    width: 75%;
}

.topul li{
    margin: 10px 0px 0px 0px;
    line-height: 22px;
}

.topul :first-child{
    color: #FF7F27;
    font-weight: bold;
}
.topul :last-child{
    margin: 10px 0px 1px 0px;
}

.missiePointsText{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.doelstellingenUl{
    margin: 0px 0px 50px 50px; 
    width: 75%;
}

.doelstellingenUl li{
    list-style-type: square;
    margin: 20px 0px 0px 0px;
    line-height: 22px;
}

.doelstellingenUl :first-child{
    list-style-type: square;
    margin: 0px 0px 0px 0px;
}

.doelstellingenUl :last-child{
    list-style-type: square;
    margin:20px 0px 25px 0px;
}

.tekst{
	font-family:'Roboto', sans-serif;
	font-style: none;
    font-variant: normal;
    line-height: 0,5cm;
    margin: 15px 0px 15px 30px;
    width: 800px;
}

.nuwel{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
	font-weight:bold;
    font-style: none;
	font-variant: normal;
    color: #FF7F27;
}

/* Responsive */

@media only screen and (max-width: 1200px){

    /* contact pagina */
    .contactPage{
        flex-direction: column;
        height:280px;
        width: 100%;
    }
    .contactInformation{
        display: flex;
        flex-direction: row;
    }
    .samenwerkingen{
        margin: 30px 0px 20px 0px;
        width: 100%;
        line-height: 26px;
    }

    .vrijwilligers{
        margin: 50px 30px 120px 0px;
        width: 100%;
        line-height: 26px;
    }

    .VactatureenSamenwerking{
        display: flex;
        flex-direction: column;
        margin: 50px 30px 5px 30px;
    }

    /* Ons verhaal */
    .onsVerhaalDiv{
        display: flex;
        flex-direction: column;
    }

    .onsVerhaalText{
        width: 85%;
    }

    .onsVerhaalImage{
        margin: 0px 0px 10px 40px;
        
    }

    /* Missie en Visie */

    .topul li {
        line-height: 26px;
        width: 850px;
    }

    .doelstellingenUl {
        margin-top: 25px;
    }

    .doelstellingenUl li {
        line-height: 26px;
        width: 850px;
    }

    /* inner page */
    #inner-content{
        width: 100%;
        height: 100%;
    }

    .nuwel {
        font-size: 24px;
    }
}