#header  {
    float:left;
    background:white;
    margin:0 0 0 0;
    width: 100%;
    height: 480px;
}
.mainPageContent{
    display: flex;
    justify-content: flex-end;
}

#inner-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background:white;
    width: 85%;
    height: 100%;
}

#hoofd_content {
    margin-top: 50px;
    height: 1%;
    width: 100%;
}

#kleine-header{
    background-size: contain;
}

.homebackground{
    background: url("../images/indexbanner2.png") 0 no-repeat;
    height: 150px;
}
.projectenbackground{
    background: url("../images/projectenbanner.png") 0 no-repeat;
    height: 150px;
}
.projectenbackground{
    background: url("../images/contactbanner.png") 0 no-repeat;
    height: 150px;
}
.missiebackground{
    background: url("../images/missieenvisiebanner.png") 0 no-repeat;
    height: 150px;
}
.verhaalbackground{
    background: url("../images/onsverhaalbanner.png") 0 no-repeat;
    height: 150px;
}
.contactbackground{
    background: url("../images/contactbanner.png") 0 no-repeat;
    height: 150px;
}

#home-title{ /*Startprojecten title in banner op elke pagina*/
    font-family: 'Play', sans-serif;
    font-size: 60px;
    color:#FF7F27;
    padding: 3% 0% 0% 18%;
    text-decoration: underline;
}

/* contact */
.contactPage{
    font-display: 'Roboto', sans-serif;
    background:white;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 5px 30px;
    /* text-decoration: none */
}

.contactPage a {
    text-decoration: none;
    font-weight: 500;
}

.infoContainer{
    margin: 10px 0px 5px 15px;
}

.infoContainer li{
    margin: 4px 0px;
}

.infoContainer li :last-child{
    margin: 12px 0px;
}
.infoContainer a{
    text-decoration: none;
}

.infoContainer :last-child{
    margin-bottom: 8px;
}

.samenwerkingen{
    display: flex;
    align-items: flex-start;
    /* flex-direction: row; */
    margin: 0px 0px;
    height: 250px;
    width: 600px;
    line-height: 20px;
    margin: 10px 0px 5px 30px;
}

.samenwerkingen li{
    margin: 0px 0px 0px 0px;
}

.vrijwilligers{
    display: flex;
    align-items: center;
    height: 250px;
    width: 670px;
    line-height: 20px;
    margin: 10px 0px 50px 30px;
}

.vrijwilligers li{
    margin:4px 0px;
}

.vrijwilligers a{
    text-decoration: none;
    font-weight: 600;
}

/*Ons verhaal*/

.onsVerhaalDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.onsVerhaalText{
    font-display: 'Roboto', sans-serif;
    width: 55%;   
    margin: 0px 0px 30px 40px;
}
.onsVerhaalText li{
    list-style-type: square;
    margin-top: 25px;
}

.onsVerhaalImage{
    margin: 190px 0px 10px 40px;
}

.startprojectenText{
    color: #FF7F27;
}

/* Missie en Visie */

.topul{
    margin: 15px 0px 10px 30px;
    width: 75%;
}

.topul li{
    margin: 10px 0px 0px 0px;
    line-height: 22px;
}

.topul :first-child{
    color: #FF7F27;
    font-weight: bold;
}
.topul :last-child{
    margin: 10px 0px 15px 0px;
}

.missiePointsText{
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.doelstellingenUl{
    margin: 0px 0px 50px 50px; 
    width: 75%;
}

.doelstellingenUl li{
    list-style-type: square;
    margin: 20px 0px 0px 0px;
    line-height: 22px;
}

.doelstellingenUl :first-child{
    list-style-type: square;
    margin: 0px 0px 0px 0px;
}

.doelstellingenUl :last-child{
    list-style-type: square;
    margin:20px 0px 25px 0px;
}

.titel{
	font-family:'times new roman', sans-serif;
	font-size:22px;
	font-style:none;
	font-variant:normal;
    height: 80px;	
}

.kl-titel{
	font-family:'times new roman', sans-serif;
	font-size:18px;
	font-style:none;
	font-variant:normal;
}

.tekst{
	font-family:'Roboto', sans-serif;
	font-size: 16px;
	font-style: none;
    font-variant: normal;
    line-height: 0,5cm;
    margin: 15px 0px 15px 30px;
    width: 800px;
}

.tekstsplit{
    margin: 0% 5% 0% 17%;
}

.lezen    {
	font-family:'Roboto', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	font-style: none;
	font-variant: normal;
}

.pro-lezen    {
	font-family: 'times new roman', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	font-style: none;
	font-variant: normal;
    margin: 10px 15px 0px 0px;
}

.nuwel{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
	font-weight:bold;
    font-style: none;
	font-variant: normal;
    color: #FF7F27;
}

.overons    {
	font-family: 'times new roman', sans-serif;
	font-size:21px;
	font-weight:500;
	font-style:none;
	font-variant:normal;
    margin-left: 560px;
    color: white;	
}

.fonty  {
    font-style:normal;
    font-variant:normal;
    font-weight:900;
    font-stretch:semi-expanded;
    font-size:24px;
    line-height: 2;
    font-family: 'times new roman', sans-serif;
    color: #FF7F27;
    letter-spacing: 4px;
    margin-left: 50px;
    text-decoration: none;
}


/* .menulinkylinky {
    font-style:normal;
    font-variant:normal;
    font-weight:900;
    font-size:14px;
    line-height: 2;
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px 0px 0px;
    color: white;
    text-decoration: none;
} */

/* .resultaat_color  {
    font-family:'times new roman', sans-serif;
	font-size:18px;
	font-style:none;
	font-variant:normal;
    color: #FF7F27; 
}

.image  {
  margin-left: 10px;
}
 
.allessamen    {
	font-family:'times new roman', sans-serif;
	font-size:22px;
	font-style:none;
	font-variant:normal;
    height: 30px;
    color: blue;
    margin:  40px 0px 0px 5px;
} */

/* Responsive */

@media only screen and (max-width: 1200px){

    /* contact pagina */
    .contactPage{
        flex-direction: column;
        height: 690px;
    }
    .contactInformation{
        display: flex;
        flex-direction: row;
    }
    .samenwerkingen{
        margin: 10px 0px 5px 0px;
    }

    /* Ons verhaal */
    .onsVerhaalDiv{
        display: flex;
        flex-direction: column;
    }

    .onsVerhaalImage{
        margin: 0px 0px 10px 40px;
        
    }

    /* inner page */
    #inner-content{
        /* display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        background:white; */
        width: 100%;
        height: 100%;
    }

}